// Colors

$color-primary: #FF681A;

$color-grey-light-1: #E5E5E5;
$color-grey-light-2: #CED6E0;
$color-grey-light-3: #B7C4D7;
$color-grey-light-4: #93A3BB;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-dark-1: #24292E;
$color-dark-2: #34374E;