*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    --antd-wave-shadow-color: $color-dark-1 !important;
}

body {
    background-color: $color-white !important;
}

.App {
    min-height: 100vh
}

.content {
    padding: 2rem 4rem 6rem 4rem;
    display: inline-block;
    width: calc(100% - 8rem);
    vertical-align: top;
    position: relative;
    min-height: 70rem;
    margin-left: 8rem;

    & > h1, & > .ant-tabs {
        min-height: calc(100vh - 32rem);
    }
}

@media (max-width:768px) {
    html {
        font-size: 54% !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    html {
        font-size: 57.5% !important;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200) {
    html {
        font-size: 63.5% !important;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 73.5% !important;
    }
}