@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), local('Barlow-Regular'), url('../../fonts/Barlow/Barlow-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat-Regular'), url('../../fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

body {
    font-family: "Barlow", sans-serif !important;
    /* font-size: 16px; */
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 1.7;
}

::placeholder {
    color: rgba($color-dark-1, .4);
    font-family: "Barlow", sans-serif;
}
:-ms-input-placeholder {
    color: rgba($color-dark-1, .4);
    font-family: "Barlow", sans-serif;
}
::-ms-input-placeholder {
    color: rgba($color-dark-1, .4);
    font-family: "Barlow", sans-serif;
}

a {
    text-decoration: underline !important;

    &:hover {
        color: darken(#1890ff, 20%) !important;
    }
}