.event-content {
    padding-top: 2.5rem;
    min-height: calc(100vh - 18.5rem);

    .logo {
        border-bottom: 1px solid $color-grey-light-2;

        img {
            width: 13rem;
            margin: 0 auto;
            display: block;
            margin-bottom: 2.7rem;
        }
    }

    .content {
        margin: 0;
        padding: 2.5rem 2rem;
        width: 100%;
        min-height: auto;
        border-bottom: 1px solid #CED6E0;

        h4 {
            margin-bottom: 3rem;
            font-weight: 700;

            &:last-child {
                margin-top: 3rem;
                margin-bottom: 4.8rem;
            }
        }
        p {
            line-height: 1.8rem;
        }
        h3 {
            font-size: 1.4rem;
            font-weight: 600;
        }

        .address-container {

            div {
                margin-bottom: 1.4rem;
            }

            span, svg, b {
                display: inline-block;
                vertical-align: middle;
            }

            svg {
                color: $color-primary;
            }

            span, b {
                padding-left: 1.15rem;
            }
        }
    }
}