.footer {
    line-height: 1.8rem;
    padding: 2rem 2rem 3rem;
    text-align: center;

    .copyright {
        font-size: 1.4rem;
    }
    
    & > div {
        height: 6rem;
        line-height: 6rem;
    }

    ul {
        list-style: none;
        display: inline-block;
        margin-bottom: 0;

        li {
            color: rgba($color-dark-1, .4);
            font-weight: 500;
            display: inline-block;
            cursor: pointer;
            transition: all .2s;
            &:not(:last-child) {
                margin-right: 3rem;
            }
            &:hover {
                color: darken($color-dark-1, 20%);
            }
        }

        &.social-medias {
            margin-bottom: 3rem;
            li {
                color: $color-primary;
                &:hover {
                    color: darken($color-primary, 10%);
                }
            }
        }
    }
}