.sider {
    width: 8rem;
    color: $color-grey-light-3;
    background-color: $color-white;
    min-height: 70rem;
    height: 100vh;
    border: 1px solid $color-grey-light-2;
    display: inline-block;
    position: fixed;

    .layout_link {
        margin: 3.025rem 0;

        svg {
            margin: auto;
            display: block;
        }
    }

    .ant-menu-root.ant-menu-vertical {
        width: 100%;
        margin-top: 10rem;
        position: relative;

        #sider_ink {
            opacity: 0;
            content: '';
            height: 6rem;
            width: .2rem;
            background-color: $color-primary;
            position: absolute;
            transition: all .2s;
        }

        li {
            height: 6rem;
            margin: 0;
            padding: 0;
            background-color: transparent;
            color: $color-grey-light-3;
            position: relative;

            a, .ant-menu-submenu-title {
                color: $color-grey-light-3;

                &:hover {
                    color: $color-dark-2;
                }
            }

            .ant-menu-submenu-title {
                margin: 0;
                padding: 0;
                height: 100%;

                &:active {
                    background-color: transparent;
                }
            }

            .ant-menu-submenu-arrow {
                display: none;
            }

            &.ant-menu-submenu-selected {
                .ant-menu-submenu-title {
                    color: $color-dark-2;
                }
            }

            svg {
                display: block;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }

        .ant-menu-item-selected,
        .ant-menu-submenu-selected {
            color: $color-dark-2;
            a {
                color: $color-dark-2;
            }
        }
    }

    .bottom_menu {
        margin: 0 !important;
        position: absolute !important;
        max-width: 7.8rem;
        bottom: 0;
    }
}

.ant-menu-submenu {
    li {
        
        a {
            color: $color-grey-light-3;
            &:hover {
                color: $color-dark-2;
            }
        }
        &.ant-menu-item:active {
            background-color: transparent;
        }
        &.ant-menu-item-selected {
            background-color: transparent !important;
            a {
                font-weight: 600;
                color: $color-dark-2;
            }
            
        }
    }
}