.add-option {
    padding: 0 3.8rem 3.1rem;
    margin-top: -2rem;
    color: $color-grey-light-4;
    cursor: pointer;

    span {
        display: inline-block;
        vertical-align: top;
        font-size: 1.3rem;
        padding-left: 1.5rem;
        color: rgba($color-dark-1, .6);
    }
}