.calendar {
    font-weight: 600;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    & > .ant-row > .ant-col:first-child {
        background-color: #EDF0F5;
        border-radius: .5rem;
        height: 4.7rem;
    }

    & > .ant-row > .ant-col > div {
        display: inline-block;
        text-align: center;
        line-height: 4.5rem;
        &:not(:last-child) {
            border-right: 1px solid $color-white;
        }
    }
    .day {
        width: 6.5%;
    }
    .month {
        width: 19.5%;
    }
    .time {
        width: 28%;
        span {
            padding: 0 .5rem;

            &:last-child {
                color: rgba($color-dark-1, .4);
            }
        }
    }
    .zone {
        width: 19.5%;
        color: rgba($color-dark-1, .4);
    }
    .button  {
        width: 26%;
        button {
            width: 11rem;
            background-color: $color-white;
            border-radius: .5rem;
        }
        
        
    }
}