.card-item {
    display: inline-block;
    width: 15rem;
    height: 16rem;
    border-radius: .5rem;
    border: 1px solid $color-grey-light-2;
    padding: 2rem 1.2rem;
    vertical-align: top;
    transition: all .2s;
    
    &.selected-card {
        border-color: $color-primary;
    }

    &:not(:last-child) {
        margin-right: 2.1rem;
    }

    img {
        width: 3.4rem;
        opacity: .35;
        display: block;
        margin: 0 auto 2.2rem;
    }

    span {
        text-align: center;
        display: block;
        font-size: 1.39rem;
        line-height: 1.6rem;
        color: $color-dark-1;
    }
}